.carousel-caption {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.carousel-caption h1 {
    font-size: 40px;
    color: #000000;
}

.carousel-caption p {
    margin: 30px 30px;
    color: #000000;
    font-size: 20px;
}


.titulo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.titulo1 h2 {
    font-weight: bold;
}

.container h2 {
    font-weight: bold;
}

.card {
    margin: auto;
    margin-bottom: 5px;
}

.row {
    display: flex;
    align-items: center;
}

.titulo2 {
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: center;
    align-items: center;
    text-align: center;
}

.rodape-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    background-color: #f8f9fa;
}

.info-contato  {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-contato ul {
    list-style-type: none;
    padding: 0;
}

.info-contato ul li {
    margin-bottom: 10px;
}

.imagem-rodape {
    width: 30%
}

.imagem-rodape img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-right: 40px;
}

.end {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}
